.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #000000 !important;
}

.Button:active {
    background-color: #000000 !important;
}

.Button:focus {
    background-color: #4c4c4e;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Black,
.BlackOutline:hover,
.Bright:hover {
    background-color: #000000;
    color: #ffffff;
}

.BlackOutline,
.Black:hover {
    background-color: #ffffff;
    color: #313232;
}

.Black,
.BlackOutline:hover {
    background-color: #060606;
    color: aliceblue;
}

.Black:hover,
.BlackOutline {
    background-color: aliceblue;
    color: #424243;
}

.Bright {
    background-color: #7a7e80;
    color: #ffffff;
}
