.NavBar {
  background-color: #ffffff;
  border: 1.5px solid #dadadf;
}

.NavLink {
  padding: 5px;
  text-decoration: none;
  color: #8a8a8c;
}

.NavLink:hover {
  padding: 5px;
  text-decoration: none;
  color: #080808;
}

.Active i {
  color: #000000;
}