.Post {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Star {
    color: #fff700;
}

.Star:hover {
    color: #ff910b;
}

.StarOutline:hover {
    color: #fff700;
}

