.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Heart {
    color: #ff0000;
}

.Heart:hover {
    color: #000000;
}

.HeartOutline:hover {
    color: #ff0000;
}

