.App {
    font-family: "DM Sans", sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.Main {
    padding-top: 81px;
}

a {
    color: #8a8a8c;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
}

a:hover i {
    color: #000000;
    transition: color ease-in-out 0.3s;
}

i {
    color: #8a8a8c;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #0a0a0a;
}